.form_box {
    background-color: rgb(var(--dark-color));
    border: 1px solid rgba(var(--heading-color), 0.06);
    border-radius: 6px;
    padding: 40px;
    position: relative;
    width: 100%;
}

.form_info {
    margin-top: 15px;
    font-size: 14px;
    color: rgba(var(--text-color), 0.8);
}

.form_info a {
    position: relative;
    color: rgba(var(--primary-color), 0.8);
}

.form_info a:hover {
    color: rgba(var(--secondary-color), 0.8);
    text-decoration: underline;
}

.devider {
    font-size: 13px;
    color: rgba(var(--heading-color), 0.7);
    line-height: 100%;
    margin: 12px 0;
}