/* --Navbar-CSS-- */
.navbar {
    min-height: var(--navbar-height);
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(var(--secondary-color), 0.1);
}

.navbar .nav_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* --Logo-CSS-- */
.nav_logo {
    line-height: 1em;
    outline: none;
}

.nav_logo {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    outline: none;
}

.nav_logo .logo_icon {
    width: 32px;
    line-height: 1;
    display: inline-block;
    margin-right: 10px;
}

.nav_logo .logo_label {
    display: inline-block;
    color: rgb(var(--heading-color));
    font-family: var(--montserrat);
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

/* --Menu-CSS-- */
.nav_menu ul {
    list-style: none;
    margin: -24px;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav_menu ul li a {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(var(--heading-color));
    text-decoration: none;
    display: block;
    padding: 24px;
}

.nav_menu ul li>a[class="active"],
.nav_menu ul li:hover>a {
    color: rgb(var(--secondary-color));
}

/* --Account-CSS-- */
.nav_actions {
    display: flex;
    align-items: center;
    justify-content: center;
}

.link,
.link_button {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(var(--heading-color));
    text-decoration: none;
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid rgba(var(--secondary-color), 0.2);
    background-color: rgba(var(--secondary-color), 0.02);
    border-radius: 6px;
    min-width: 100px;
    text-align: center;
    margin-left: 24px;
}

.link:hover,
.link_button:hover {
    color: rgba(var(--secondary-color), 1);
}

.link {
    background: none;
    border: none;
    padding: 0;
}

.nav_actions .colormode {
    border: none;
    font-size: 12px;
    background: none;
    cursor: pointer;
    color: rgb(var(--heading-color));
    width: 40px;
    height: 16px;
    border-radius: 100px;
    background-color: rgb(var(--heading-color), 0.1);
    position: relative;
}

.nav_actions .colormode span {
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 100px;
    background-color: rgb(var(--secondary-color));
    color: #ffffff;
    display: inline-block;
    position: absolute;
    left: -4px;
    top: -4px;
    transition: 0.2s ease-in-out;
}

.nav_actions .colormode.active span {
    left: 20px;
}